snippet printf "printf ..."
printf("$0\n"); 
endsnippet

snippet sf "scanf ..."
scanf("$1",&$2); 
endsnippet


snippet cmain "Boiler Code"
#include<stdio.h>
   int main(){
   $0
    return 0;
    }
endsnippet 


